@{
    ViewBag.Title = Model.name;
}

@model CocktailRecipeLookup.Models.Drink

<h2>@Model.name</h2>

<p>@Model.story</p>
<br />
<div class="row">
    <div class="col m4">
        <h5><u>Ingredients:</u></h5>
        <ul class="collapsible" data-collapsible="accordion">
            @*<li><a class="black-text" asp-controller="Ingredients" asp-action="Details" asp-route-id="@ingredient.id">@ingredient.textPlain</a></li>*@
            @foreach (var ingredient in Model.ingredients)
            {
                <li>
                    <div class="collapsible-header">@ingredient.textPlain</div>
                    <div class="collapsible-body"><span>@ViewBag.DrinkIngredients[ingredient.id].description</span></div>
                </li>

            }
        </ul>
    </div>
    <div class="col m3 offset-m1">
        <h5><u>Flavor Profile:</u></h5>
        <ul>
            @foreach (var flavor in Model.tastes)
            {
                <li>@flavor.text</li>
            }
        </ul>
    </div>
    <div class="col m4">
        <img src="@("http://assets.absolutdrinks.com/drinks/250x300/"+ Model.id +".png")" alt="@(Model.name + " image")" />
    </div>
</div>

<h4>Directions</h4>
<p>@Model.descriptionPlain</p>
<br />
@if (Model.videos.Count > 0)
{
    @foreach (var video in Model.videos)
    {
        @if (video.type == "assets")
        {
            <div class="video-container">
                <iframe width="416" height="234" src=@("http://assets.absolutdrinks.com/videos/" + @video.video) frameborder="0" allowfullscreen></iframe>
            </div>
        }
    }
}