@{
    Layout = null;
}

@using CocktailRecipeLookup.Models
@model List<Drink>

@if (Model.Count == 0)
{
    <p>No results, consider revising your search parameters.</p>
}
else
{
    @foreach (var drink in Model)
    {
        <div class="row">
            <div class="col m8">
                <div class="row">
                    <h4>@drink.name</h4>
                    <div class="col m4">
                        <u>Flavor Profile:</u>
                        <ul>
                            @foreach (var flavor in drink.tastes)
                    {
                                <li>@flavor.text</li>
                            }
                        </ul>
                    </div>
                    <div class="col m4">
                        <u>Ingredients:</u>
                        <ul>
                            @foreach (var ingredient in drink.ingredients)
                    {
                                <li><a asp-controller="Ingredients" asp-action="Details" asp-id="@ingredient.id">@ingredient.textPlain</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <img src="@("http://assets.absolutdrinks.com/drinks/300x400/"+ drink.id +".png")" alt="@(drink.name + " image")" />
            </div>
        </div>
    }

}
