@{
    ViewBag.Title = "Search Results";
}

@using CocktailRecipeLookup.Models
@model List<Drink>

<h3>Search Results</h3>
<hr />
<br />
@if (Model.Count == 0)
{
    <p>No results, consider revising your search parameters.</p>
}
else
{
    @foreach (var drink in Model)
    {
        <div class="row">
            <div class="col m8">
                <div class="row">
                    <h4><a class="black-text" asp-controller="Drinks" asp-action="Details" asp-route-id="@drink.id">@drink.name</a></h4>
                    <div class="col m4">
                        <u>Flavor Profile:</u>
                        <ul>
                            @foreach (var flavor in drink.tastes)
                            {
                                <li>@flavor.text</li>
                            }
                        </ul>
                    </div>
                    <div class="col m4">
                        <u>Ingredients:</u>
                        <ul>
                            @foreach (var ingredient in drink.ingredients)
                            {
                                <li><a class="black-text" asp-controller="Ingredients" asp-action="Details" asp-route-id="@ingredient.id">@ingredient.textPlain</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <a class="black-text" asp-controller="Drinks" asp-action="Details" asp-route-id="@drink.id"><img src="@("http://assets.absolutdrinks.com/drinks/300x400/"+ drink.id +".png")" alt="@(drink.name + " image")" /></a>
            </div>
        </div>
    }

}